body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 50px; 
}

.profile-photo img {
    width: 200px; 
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.profile-table {
    width: 60%; 
    border-collapse: collapse; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.profile-table th, .profile-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: middle; 
}

.profile-table th {
    background-color: #d8656e; 
    color: white;
    width: 150px; 
    font-weight: bold;
}

.profile-table td {
    width: 300px;
    background-color: #f9f9f9;
}


.profile-table th, .profile-table td {
    border-color: #d8656e; 
}
